@using HousingWebApp.Services
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage

@inject NavigationManager navigateTo
@inject AppAuthService authService
@inject ProtectedLocalStorage storage

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid" @onclick="ToggleIconMenu">
        <span class="oi oi-monitor" style="color:white;" aria-hidden="true"></span>
        @if (!@IconMenuActive)
        {
            <a class="navbar-brand" >Housing</a>
        }
        @* <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button> *@
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link"  Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span>
                @if (!@IconMenuActive)
                {
                    <label>Home</label>
                }
            </NavLink>
        </div>
        <hr/>
        @if (user != null)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/login" @onclick="Logout">
                    <span class="oi oi-account-logout" aria-hidden="true"></span>
                    @if (!@IconMenuActive)
                    {
                        <label>Logout</label>
                    }
                </NavLink>
            </div>
        }
        else
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="register">
                    <span class="oi oi-person" aria-hidden="true"></span>
                    @if (!@IconMenuActive)
                    {
                        <label>Register</label>
                    }
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="login">
                    <span class="oi oi-account-login" aria-hidden="true"></span>
                    @if (!@IconMenuActive)
                    {
                        <label>Login</label>
                    }
                </NavLink>
            </div>
        }
        <hr/>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/house/gmap">
                <span class="oi oi-map" aria-hidden="true"></span>
                @if (!@IconMenuActive)
                {
                    <label>Map</label>
                }
            </NavLink>
        </div>
    </nav>


</div>

<div class="bottom-row">
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="profile">
            <span class="oi oi-person" aria-hidden="true"></span>
            @if (!@IconMenuActive)
            {
                <label> Profile</label>
            }
        </NavLink>
    </div>
</div>

@code {
    //bool to send to MainLayout for shrinking sidebar and showing/hide menu text
    private bool IconMenuActive { get; set; } = false;

    //EventCallback for sending bool to MainLayout
    [Parameter]
    public EventCallback<bool> ShowIconMenu { get; set; }

    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    //Method to toggle IconMenuActive bool and send bool via EventCallback
    private async Task ToggleIconMenu()
    {
        IconMenuActive = !IconMenuActive;
        await ShowIconMenu.InvokeAsync(IconMenuActive);
    }

    AppUser? user = null;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var res = await storage.GetAsync<string>("email");
            if (res.Success)
            {
                user = await authService.GetUserAsync(res.Value);
            }
            StateHasChanged();
        }
    }
    async Task Logout()
    {
        await storage.DeleteAsync("email");
        user = null;
        StateHasChanged();
    }
}
