@page "/login"
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using Microsoft.EntityFrameworkCore

@inject NavigationManager navigateTo
@inject HousingDBContext db
@inject ProtectedLocalStorage storage
@inject IDbTransactionService TransactionService

<PageTitle>Login to Housing</PageTitle>

<h3>Welcome to Login to Housing App</h3>
<form>
    <div class="container">
        <label for="uname"><b>Email:</b></label>
        <input type="email" placeholder="user@gmail.com" name="uname" @bind="email" required />
        <br />
        <label for="password"><b>Password:</b></label>
        <input type="password" placeholder="****" name="password" @bind="password" required />
        <br />
        <button type="button" @onclick="Login">Login</button>
    </div>
    @if (error.Length > 0)
    {
        <div class="text-danger">@error</div>
    }
</form>
@code {
    string email { get; set; }
    string password { get; set; }
    string error { get; set; } = "";
    AppUser? user;
    async Task FetchUserAsync(string email, string password)
    {
       // await TransactionService.ExecuteInTransactionAsync(async () =>
       // {
            //goto DB and try login...
            user = await db.AppUsers
            .Where(u => u.Email == email && u.Password == password)
            .Include(u => u.Address)
            .FirstOrDefaultAsync();
       // });
    }
    async Task Login()
    {
        error = "";
        if(email==""||password=="")
        {
            error = "Please enter email and password";
            StateHasChanged();
            return;
        }
        //goto DB and try login...
        var user = await db.AppUsers
            .Where(u => u.Email == email && u.Password == password)
            .Include(u => u.Address)
            .FirstOrDefaultAsync();
        if(user==null)
        {
            error = "Invalid email or password";
            StateHasChanged();
            return;
        }
        if(user.IsBlocked)
        {
            error = "User is blocked! Please contact the administrator";
            StateHasChanged();
            return;
        }
        //save email in browser cookies
        await storage.SetAsync("email", email);
        
        //goto home page
        navigateTo.NavigateTo("/",true);
    }
}
