@page "/house/new/"
@using HousingWebApp.Models
@using HousingWebApp.Services
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage

@inherits AuthComponent

@inject IDbTransactionService TransactionService
@inject HousingDBContext db
@inject NavigationManager navigateTo
@inject AddressService addressService
@inject ProtectedLocalStorage storage
@inject IJSRuntime JS

<PageTitle>New House</PageTitle>

@if (model == null)
{
    <HousingWebApp.Pages.Components.DefaultProgressBarComponent/>
}
else
{
    <div class="container">
        <div class="card">
            <div class="card-header bg-primary text-white">
                <h3 class="card-title">Create New House</h3>
            </div>
            <div class="card-body">
                <HousingWebApp.Pages.Components.FormErrorComponent Error="@error"/>
                <div class="tab">
                    <button class="tablinks active" onclick="openTab(event, 'basic')">Basic Details <span class="arrow-right"></span></button>
                    <button class="tablinks" onclick="openTab(event, 'features')">Additional Features <span class="arrow-right"></span></button>
                    <button class="tablinks" onclick="openTab(event, 'address')">Address <span class="arrow-right"></span></button>
                </div>

                <!-- Basic Details Tab -->
                <div id="basic" class="tabcontent" style="display:block">
                    <form class="needs-validation" @onsubmit="OnSaveHouse">
                        <div class="form-group">
                            <label for="info">Information:</label>
                            <InputText id="info" class="form-control" @bind-Value="model.Info" />
                        </div>

                        <div class="form-group">
                            <label for="mimage" class="required">Main Image:</label>
                            <InputFile id="mimage" class="form-control" title="House Image" accept=".png,.jpg" OnChange="HandleMainImage" />
                        </div>
                        <div class="form-group">
                            <label for="mimages">More Images:</label>
                            <InputFile id="mimages" class="form-control" title="House Images" multiple accept=".png,.jpg" OnChange="HandleMoreImages" />
                        </div>
                        <div class="form-group">
                            <label for="price" class="required">Price:</label>
                            <input type="number" required id="price" class="form-control" @bind="model.Price" />
                        </div>
                        <div class="form-group">
                            <label for="sr" class="required">Square Root:</label>
                            <input type="number" required id="sr" class="form-control" @bind="model.SqrRoot" />
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Create New House</button>
                    </form>
                </div>

                <!-- Additional Features Tab -->
                <div id="features" class="tabcontent" style="display:none">
                    <form class="needs-validation" @onsubmit="OnSaveHouse">
                        <div class="form-group">
                            <label for="year">Year:</label>
                            <input type="number" required id="year" class="form-control" @bind="model.HouseDetails.Year" />
                        </div>
                        <div class="form-group">
                            <label for="hasSP">Has Swimming Pool:</label>
                            <div class="toggle-switch">
                                <input type="checkbox" id="hasSP" class="toggle-input" @bind="model.HouseDetails.HasSwimmingPool" />
                                <label for="hasSP" class="toggle-label"></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="floor">Number of Floors:</label>
                            <input type="number" required id="floor" class="form-control" @bind="model.HouseDetails.Floor" />
                        </div>
                        <div class="form-group">
                            <label for="bathrooms">Number of Bathrooms:</label>
                            <input type="number" required id="bathrooms" class="form-control" @bind="model.HouseDetails.Bathrooms" />
                        </div>
                        <div class="form-group">
                            <label for="bedrooms">Number of Bedrooms:</label>
                            <input type="number" required id="bedrooms" class="form-control" @bind="model.HouseDetails.Bedrooms" />
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Create New House</button>
                    </form>
                </div>

                <!-- Address Tab -->
                <div id="address" class="tabcontent" style="display:none">
                    <form class="needs-validation" @onsubmit="OnSaveHouse">
                        <div class="form-group">
                            <label for="address1" class="required">Country:</label>
                            <InputText id="address1" class="form-control" @bind-Value="model.Address.Country" />
                        </div>
                        <div class="form-group">
                            <label for="address2" class="required">City:</label>
                            <InputText id="address3" class="form-control" @bind-Value="model.Address.City" />
                        </div>
                        <div class="form-group">
                            <label for="address3">Street:</label>
                            <InputText id="address3" class="form-control" @bind-Value="model.Address.Street" />
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Create New House</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
}
@code {
    private int CurrentStep = 1;
    int TotalSteps = 3;
    private House NewHouse = new House();

    private void UpdateStep(int step)
    {
        CurrentStep = step;
    }

    private void GoBack()
    {
        if (CurrentStep > 1)
        {
            CurrentStep--;
        }
    }

    private void GoNext()
    {
        if (CurrentStep < TotalSteps)
        {
            CurrentStep++;
        }
    }


    House? model = null;
    string error = "";
    List<string>? images = null;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (firstRender && LoggedInUser!=null)
        {
            model = new House();
            model.AppUserId = LoggedInUser.Id;
            images = new();
            StateHasChanged();
        }

    }

    async Task UpdateAddress()
    {
        //convert address to longt and lat
        var r = await addressService.ConvertGAddress(model.Address);
        if (r != null)
        {
            model.Address.Lat = r.Item1;
            model.Address.Longt = r.Item2;
        }
    }
    async Task OnSaveHouse()
    {
        if(Validate())
        {
            await SaveHouseAsync();
            navigateTo.NavigateTo("/", true);
        }
        else
        {
            StateHasChanged();
        }
    }
    async Task SaveHouseAsync()
    {
        await UpdateAddress();
        //save images
        if (images != null && images.Count > 0)
            model.HouseImages.Base64Images = images;

       // await TransactionService.ExecuteInTransactionAsync(async () =>
       // {
            db.Houses.Add(model);
            await db.SaveChangesAsync();
      //  });
    }
    bool Validate()
    {
        //if(model!=null && model.Price<50)
        if (model?.Price < 50)
        {
            error= "Price must be greater than 50";
            return false;
        }
        if(model?.SqrRoot < 50)
        {
            error = "Square root must be greater than 50";
            return false;
        }
        if(string.IsNullOrEmpty(model?.HouseImages.MainImage))
        {
            error = "Main Image is required";
            return false;
        }
        if(model?.Address.Country.Length<3)
        {
            error = "Country is invalid or empty";
            return false;
        }
        if(model?.Address.City.Length<3)
        {
            error = "City is invalid or empty";
            return false;
        }
        return true;
    }

    async Task HandleMainImage(InputFileChangeEventArgs e)
    {
        string? str = await ConvertUploadImage(e);
        if (!string.IsNullOrEmpty(str))
        {
            model.HouseImages.MainImage = str;

        }
    }
    async Task HandleMoreImages(InputFileChangeEventArgs e)
    {
        images.Clear();
        foreach (var file in e.GetMultipleFiles())
        {
            string? str = await ConvertUploadImage(file);
            if (!string.IsNullOrEmpty(str))
            {
                images.Add(str);
            }
        }
    }
    async Task<string?> ConvertUploadImage(InputFileChangeEventArgs e)
    {
        var f = e.GetMultipleFiles().FirstOrDefault();
        return await ConvertUploadImage(f);
    }
    async Task<string?> ConvertUploadImage(IBrowserFile? f)
    {
        if (f != null)
        {
            var f2 = await f.RequestImageFileAsync(f.ContentType, 300, 300);
            var ms = new MemoryStream();
            await f2.OpenReadStream().CopyToAsync(ms);
            string s = Convert.ToBase64String(ms.ToArray());
            s = $"data:{f.ContentType};base64,{s}";

            return s;
        }
        return null;
    }
}
<script>
    
    // Function to switch between tabs
    function openTab(evt, tabName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
    }
</script>