@page "/"
@using HousingWebApp.Models
@using HousingWebApp.Services
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject NavigationManager navigateTo
@inject ProtectedLocalStorage storage
@inject AppAuthService authService
<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>
@if (user != null)
{
    <p>Welcome @user.FirstName , @user.LastName to Housing app.</p>
}
else{
    <p>Welcome to Housing app.</p>
}


<SurveyPrompt Title="How is Blazor working for you?" />

@code{
    AppUser? user = null;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var res = await storage.GetAsync<string>("email");
            if (res.Success)
            {
                try
                {
                    user = await authService.GetUserAsync(res.Value);
                }
                catch (Exception e)
                {
                    Console.WriteLine("MOMOMO");
                    Console.WriteLine(e.Message);
                }
            }
            StateHasChanged();
        }
    }
}
