@page "/aboutus"

@using Microsoft.AspNetCore.Components.Web

<h1 class="display-4 mb-4">About Us</h1>

<div class="row">
    <div class="col-lg-6">
        <h2>Our Mission</h2>
        <p class="lead">
            At iHousings, our mission is to provide users with the best possible experience when searching for their dream home. We strive to offer a comprehensive platform that connects buyers, sellers, and renters, making the process of finding and listing properties seamless and enjoyable.
        </p>
        <p>
            Whether you're a first-time homebuyer, an experienced investor, or a homeowner looking to sell or rent your property, iHousings is here to assist you every step of the way.
        </p>
    </div>
    <div class="col-lg-6">
        <img src="/resources/images/housings.jpg" class="img-fluid rounded" alt="About Us Image">
    </div>
</div>

<div class="mt-5">
    <h2>Our Team</h2>
    <div class="row">
        <div class="col-lg-4">
            <div class="card mb-3">
                <img src="/resources/images/male-avatar.svg" style="width:50%" class="card-img-top" alt="Team Member 1">
                <div class="card-body">
                    <h5 class="card-title">Ahmad</h5>
                    <p class="card-text">CEO & Founder</p>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam porta justo et lectus ullamcorper, vitae molestie lorem tempus.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card mb-3">
                <img src="/resources/images/CEO.jpg" style="width:50%" class="card-img-top" alt="Team Member 2">
                <div class="card-body">
                    <h5 class="card-title">Tawfeeq</h5>
                    <p class="card-text">Marketing Director</p>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam porta justo et lectus ullamcorper, vitae molestie lorem tempus.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card mb-3">
                <img src="/resources/images/marketing.jpg" style="width:50%" class="card-img-top" alt="Team Member 3">
                <div class="card-body">
                    <h5 class="card-title">Adham</h5>
                    <p class="card-text">Lead Developer</p>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam porta justo et lectus ullamcorper, vitae molestie lorem tempus.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
